.App {
  text-align: center;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1000;
  background: black url('./components/Logo/wallcyber.jpg');

}

.center {
  display: flex;
  justify-content: center;
}
